<h1> Add an Address </h1>
<% if @address.errors.any?%>
  <div class="alert alert-danger" role="alert"> Fields cannot be blank </div>
  <%end%>
<%= form_tag "/users/add_address"%>
<label>
  Street
  <input type="text" name= "street">
</label>
<label>
  City
  <input type="text" name= "city">
</label>
<label>
  State
  <input type="text" name= "state">
</label>
<label>
  Zip
  <input type="text" name= "zip">
</label>
<button> Save</button>
</form>
<p><%=  link_to "Back to Library", "/libraries", class:"btn btn-default"%>
</p>
