<h1> Login </h1>
<%= form_tag "/login" %>
<label>
  email
  <input type="text" name= "email">
</label>
<label>
  password
  <input type="password" name="password">
</label>
<button> Login </button>
</form>
  <p></p>
<p><%= link_to "Not signed up yet? Create new user", "/libraries/users/create_user", class:"btn btn-default" %></p>
<%=  link_to "Back to homepage", root_path, class:"btn btn-default"%>
