<h1> Login </h1>
<%= form_tag "/login" %>
<label>
  email
  <input type="text" name= "email">
</label>
<label>
  password
  <input type="password" name="password">
</label>
<button> Login </button>
</form>
  <p></p>
<p><%= link_to "Not signed up yet? Create new user", "/libaries/users/create_user" %></p>
