<h1> Create a new User </h1>
<% if @user.errors.any?%>
  <div class="alert alert-danger" role="alert"> Fields cannot be blank </div>
  <%end%>
<%=  link_to "Back to homepage", root_path, class:"btn btn-default"%>
<%= form_tag "/libraries/users/create_user" %>
<label>
  Name
  <input type="text" name= "name">
</label>
<label>
  Email
  <input type="email" name= "email">
</label>
<label>
  password
  <input type="password" name= "password">
</label>
<button> Save</button>
 <li><a href='/auth/google_login'>Sign in with Google</a></li>
</form>
