<h1> Add a Book </h1>
<% if @book.errors.any?%>
  <div class="alert alert-danger" role="alert"> Fields cannot be blank </div>
  <%end%>
 <%= form_tag "/libraries/books/create_book" %>
 <label>
   Title
   <input type="text" name= "title">
 </label>
 <label>
   Author
   <input type="text" name= "author">
 </label>
 <label>
   Genre
   <input type="text" name= "genre">
 </label>
 <label>
   Tagline
   <input type="text" name= "tagline">
 </label>
 <button> Save</button>
 </form>
 <p><%=  link_to "Back to Library", "/libraries", class:"btn btn-default"%>
 </p>
